{% extends "base.html" %}

{% block content %}
    <h1>Change password</h1>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green">{{ success }}</p>
    {% endif %}
    <form action="/auth/change-password" method="post">
        <label>New password <input type="password" name="password" required></label><br>
        <label>Confirm password <input type="password" name="password_confirm" required></label><br>
        <button type="submit">Update password</button>
    </form>
    <p><a href="/">Back to home</a></p>
{% endblock %}
